# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Tests
.pytest_cache/
.cache/

# Misc
*.DS_Store

# Other
MongoDb/\[internal]
MongoDb/=
MongoDb/writing
MongoDb/transferring
MongoDb/naming
MongoDb/exporting
MongoDb/CACHED
